body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: peachpuff;
}

form {
    margin: 50px;
    background-color: white;
}

.big {
    margin: 10px;
    padding: 10px;
    background-color: #eaf6f6;
}
